{% extends 'base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto my-12 bg-white md:p-6 p-2">
        <h1 class="py-3 font-bold text-4xl md:text-5xl text-center md:text-left">
            404 - {{ "default.not_found"|trans|raw }}
        </h1>
        <div class="text-lg py-3 md:text-justify text-left">
            <p>{{ "default.not_found_text"|trans|raw }}</p>
        </div>

        <a href="{{ path('home') }}"
           class="w-full p-4 bg-amber-300 text-white font-semibold py-2 hover:bg-amber-400 transition duration-300">
            {{ "default.not_found_home"|trans|raw }}
        </a>
    </div>
{% endblock %}